{{ if or ((.Page.Site.Params.mainMenu) (.show_back_menu_item)) }}
<hr />
<p>
{{ end }}

    {{ if .show_back_menu_item }}
        <a href="{{ .Page.Section | relURL }}">back</a>
        {{ if .Page.Site.Params.mainMenu }}
            &#183;
        {{ end }}
    {{ end }}

    {{ if .Page.Site.Params.mainMenu }}
        {{ range first 1 .Page.Site.Params.mainMenu }}
            <a href="{{ .link }}">
                <span class="bottom-link-text">
                    {{ .text }}
                </span>
            </a>
        {{ end }}
    
    {{ if ( gt ( len .Page.Site.Params.mainMenu ) 1 ) }}
        {{ range after 1 .Page.Site.Params.mainMenu }}
            &#183; 
            <a href="{{ .link }}">
                <span class="bottom-link-text">
                    {{ .text }}
                </span>
            </a>
        {{ end }}
    {{ end }}
    &#183; 
    <a href="{{.Page.Site.BaseURL}}">
        {{ .Page.Site.Params.homepage }}
    </a>
{{ end }}
</p>

<script>
    window.baffle('#title').reveal(1000);
    window.baffle('.bottom-link-text').reveal(500);
</script>